<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>COŚ O TWOIM WSPANIAŁYM UCZNIU!</title>
        <link rel="stylesheet" href="C:\Kodilla\Zadania dla Kamila\first website\static\stylish.css">
    </head>
    <body>
        <strong>
            <h3>To ja</h3>
            <img src="https://i.ytimg.com/vi/u3rS-fQ1nUI/hqdefault.jpg">
            <h1 class="Nagłowek">Coś o mnie</h1>
        </strong>
        <ul>
            <li>Imię: Tai</li>
            <li>Nazwisko: Cao</li>
            <li>Data urodzenia: 03.03.1996</li>
            <li>Obywatelwstwo: Polsko-wietnamskie</li>
            <li>Lubię: jeść, grać, spać</li>
            <li>Nie lubię: China</li>
        </ul>
            <img src="https://i.pinimg.com/736x/86/b0/21/86b0219ed82f9ea2e5264b9160967921.jpg">
    </body>