<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WITAJMOJEJ STRONIE, PLEBSIE!!!</title>
        <link rel="stylesheet" href="C:\Kodilla\Zadania dla Kamila\first website\static\stylish.css">
    </head>
    <body style="background-image: url('/static/img/c7a.jpg');">


        <h1>WELCOME IN MY BRAND NEW HOMEPAGE!!!!!!!!!</h1>
        <img src="https://media.tenor.com/NN-YSMeHaPIAAAAd/ricardo-ricardo-milos.gif" title="me" >
        <h1>PRZYGOTUJ SIĘ NA CRINGE</h1>
        <img src="https://media.tenor.com/k6jQyDrKOQwAAAAC/laughing-crying.gif" title="HA!">
        <p class="Link"><a href="http://localhost:5000/mypage/me">TUTAJ MASZ COŚ O MNIE!!!</a></p>
        <p class="Link"><a href="http://localhost:5000/mypage/contact">A tutaj masz mój kontakt UwU</a></p>
        <p class="Link"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">A tutaj masz mój sekret na motywację!!!!</a></p>
    </body>

</html>